.btn1 {
  all: unset;
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
  margin: 8rem;
  font-size: 2.8rem;
  position: relative;
  transition: scale 0.3s ease-in-out;

  &:hover {
    animation: shake 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }

  &:active {
    scale: 0.9;
  }

  & svg {
    position: absolute;
    z-index: -1;
    width: 20vw;
    height: 20vw;
  }
}

@keyframes shake {
  25% {
    rotate: -10deg;
  }

  50% {
    rotate: 10deg;
  }

  100% {
    rotate: 0;
  }
}