@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat';
}

